.buttonModal {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a98c5c;
  background-color: #fff;
  border-radius: 5px;
  width: 179px;
  height: 42px;
  max-width: 179px;
  max-height: 42px;
  border-style: none;
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.09);
  font-size: large;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}
.modalWin {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.buttonClose {
  display: flex;
  justify-content: flex-end;
}
.modalContent {
  color: #ad9161;
  font-size: small;
}
.modalDetail {
  color: #165470;
  font-size: large;
}
